/example*/.phpunit.cache
/example*/node_modules
/example*/public/build
/example*/public/hot
/example*/public/storage
/example*/storage/*.key
/example*/vendor
/example*/.env
/example*/.env.backup
/example*/.env.production
/example*/.phpunit.result.cache
/example*/Homestead.json
/example*/Homestead.yaml
/example*/auth.json
/example*/npm-debug.log
/example*/yarn-error.log
/.fleet
/.idea
/example*/.vscode
/docker/my-db
/docker/my-mysql-db
/docker/my-redis